# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# TensorFlow/Model files
toxicity_model/
*.pb
*.data-*
*.index
vectorizer.pkl

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db